*.DS_Store
*.pyc
/.ipynb_checkpoints
bootcamp.code-workspace
2022/python_workshop/notebooks/resources/resolved/*
requirements_log.txt
f1_career_*.csv
!.gitkeep
!f1_driver_career_analysis.ipynb
!barem_*
